* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #4CAAE7;
    padding-top: 56px;
}

.content {
    height: 100vh;
    padding: 1rem;
    background-color: #ffffff70;
}

.content h1 {
    margin: 0;
     width: 250px;
     height: 100px;
    font-size: 3em;
    color: transparent;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Digimon_Logo.svg/1280px-Digimon_Logo.svg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*text-transform: uppercase;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;*/
}

.digimons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.digimon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #e1e1e1;
    cursor: pointer; 
}

.digimon .number {
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    font-size: .8rem;
}

.digimon .name {
    color: #fff;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.digimon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.digimon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.digimon .detail .types .type {
    color: white;
    padding: .25rem .5rem;
    font-size: 0.625rem;
    margin: .125rem 0;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
}

.digimon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.071);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 0.5rem; 
}

#pagination-container {
    display: flex;
    justify-content: center; /* Esta é a linha mais importante para o seu problema */
    flex-wrap: wrap;         /* Esta linha permite que os botões quebrem para a linha de baixo */
    align-items: center;
    padding: 2rem 0;
    gap: 8px;
}

.pagination button {
    font-family: 'Roboto', sans-serif;
    background-color: #4CAAE7; 
    color: #DEE1F1;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 40%;
}

.pagination button:hover:not(:disabled) {
    background-color: #4CAAE7; 
}

.pagination button.active {
    background-color: #F2AB31;
    color: #333;
}

.pagination button:disabled {
    background-color: #f6f8fc; 
    color: #4CAAE7;
    cursor: not-allowed;
}

.fresh { background-color: #C4DA5B; }
.in-training { background-color: #E398C2; }
.rookie { background-color: #77c850; }
.champion { background-color: #DF3149; }
.ultimate { background-color: #F4CADF; }
.mega { background-color: #F2AB31; }
.armor { background-color: #DEE1F1; }

@media screen and (min-width: 380px) {
    .digimons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .digimons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    .digimons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
